<h1>Import necessary libraries

In [284]:
import pandas as pd
import psycopg2 as pg
import pandas.io.sql as psql

<h1>Connect to DB

In [14]:
conn = pg.connect(" dbname='dev' host='njoy-testing-env.c2ag7j9q24ns.us-east-1.rds.amazonaws.com' user='reader' port='5416' password='MbmeL8ku6x'")
df = psql.read_sql('SELECT count(1) from public.orders', conn)
df.head()

    count
0  201570

In [15]:
df = psql.read_sql('SELECT * from public.orders', conn)

<h1>Preview of DataFrame

In [44]:
df.head(5)

,order_id,customer_id,created_at,updated_at,closed_at,processed_at,status,number,total_price,total_less_tax,total_tax,payment_status,closed_hour
0,8.974965e+11,230824c2,2019-03-13 18:14:55,2019-03-13 22:01:40,2019-03-13 22:01:39,2019-03-13 18:14:55.000000,fulfilled,1029702,18.28,17.0,1.28,paid,22.0
1,8.975937e+11,7100545b,2019-03-13 19:33:50,2019-03-13 23:01:21,2019-03-13 23:01:21,2019-03-13 19:33:50.000000,fulfilled,1029768,9.00,9.0,0.00,paid,23.0
2,8.975785e+11,3de1dc29,2019-03-13 19:20:05,2019-03-13 23:01:33,2019-03-13 23:01:33,2019-03-13 19:20:05.000000,fulfilled,1029757,18.02,17.0,1.02,paid,23.0
3,8.976117e+11,cb5e4189,2019-03-13 19:50:09,2019-03-13 23:01:12,2019-03-13 23:01:11,2019-03-13 19:50:09.000000,fulfilled,1029780,9.63,9.0,0.63,paid,23.0
4,8.976406e+11,579c3141,2019-03-13 20:17:01,2019-03-14 00:01:23,2019-03-14 00:01:23,2019-03-13 20:17:01.000000,fulfilled,1029803,9.26,9.0,0.26,paid,0.0

In [73]:
df.shape

(201570, 13)

<h1>Query 1</h1>
<h6>We need basic insight into hourly sales performance. We'd like a query that shows the following metrics by hour: <br>
revenue (total_price less total_tax)<br>
total number of orders<br>
number of orders placed by a customer who has previously placed an order<br>

In [156]:
#create column to seperate closing hour of orders
df['closed_hour'] = df['closed_at'].dt.hour

In [201]:
hourly_orders = df.groupby('closed_hour')['total_less_tax'].agg(['sum','count']).reset_index()

In [86]:
customer_counts = df.groupby('customer_id').count().reset_index().sort_values('order_id', ascending = False)

In [93]:
#there are 181,105 total customers in the dataframe
customer_counts.shape

(181105, 13)

In [165]:
#there are 19,339 returning customers
returning_customers = customer_counts.loc[customer_counts['order_id'] > 1][['customer_id', 'order_id']]

In [161]:
def find_hours_of_returning_customers():
    returning_customer_hours = {}
    for customer in returning_customers.customer_id.to_list():
        order_hours = df.loc[df['customer_id'] == customer].closed_hour.to_list()
        for i in order_hours:
            try:
                if int(i) not in returning_customer_hours.keys():
                    returning_customer_hours.update({i: 1})
                else:
                    returning_customer_hours[i] +=1
            except:
                pass
    return returning_customer_hours

In [181]:
total_returning_per_hour = find_hours_of_returning_customers()

In [191]:
returning_df = pd.DataFrame(total_returning_per_hour, index = ['number']).transpose().reset_index()
returning_df_sorted = returning_df.sort_values('index')

In [210]:
final_orders = pd.merge(hourly_orders, returning_df_sorted, left_on='closed_hour', right_on='index')
final_orders = final_orders.drop(['index'], axis = 1)
final_orders.columns = ['hour', 'total_revenue', 'num_orders', 'num_returning_customers']

In [211]:
final_orders

    hour  total_revenue  num_orders  num_returning_customers
0    0.0       54508.00        4481                      585
1    1.0       62859.27        5495                      706
2   13.0         137.00           6                        3
3   14.0       43279.00        3973                      241
4   15.0       18872.50        1838                      148
5   16.0      185631.40       18287                     2881
6   17.0      438159.20       45940                    10063
7   18.0      522385.90       54200                    12533
8   19.0      233999.00       23461                     4219
9   20.0      152570.80       14325                     3369
10  21.0      114032.70       10652                     1455
11  22.0       81454.50        7869                     1398
12  23.0       55753.70        4385                      528

<h1>Query 2</h1>
<h6>Upon further inspection, it has been noticed that there are a number of hours for which there are no orders. It's not clear why, so we'd like a query that lists all hours for which there are no orders.

In [219]:
hours_with_orders = df.groupby(df.closed_hour).count().reset_index()['closed_hour'].to_list()

In [220]:
all_hours = list(range(0,24))

In [223]:
hours_without_orders = []
for hour in all_hours:
    if hour not in hours_with_orders:
        hours_without_orders.append(hour)

In [242]:
no_orders = pd.DataFrame(hours_without_orders)

In [245]:
no_orders.columns = ['hour']

In [257]:
no_orders

    hour
0      2
1      3
2      4
3      5
4      6
5      7
6      8
7      9
8     10
9     11
10    12

<h1>Query 3</h1>
<h6>Your query from #1 may not have accounted for hours for which there are no orders. Copy your query from #1 and ammend the query to show "0" for all metrics when there is no data for a given hour.

In [253]:
all_hourly_orders = pd.concat([final_orders, no_orders], join = 'outer')

/Users/austinkrause/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [255]:
all_hourly_orders = all_hourly_orders.sort_values('hour')

In [256]:
all_hourly_orders

    hour  num_orders  num_returning_customers  total_revenue
0    0.0      4481.0                    585.0       54508.00
1    1.0      5495.0                    706.0       62859.27
0    2.0         NaN                      NaN            NaN
1    3.0         NaN                      NaN            NaN
2    4.0         NaN                      NaN            NaN
3    5.0         NaN                      NaN            NaN
4    6.0         NaN                      NaN            NaN
5    7.0         NaN                      NaN            NaN
6    8.0         NaN                      NaN            NaN
7    9.0         NaN                      NaN            NaN
8   10.0         NaN                      NaN            NaN
9   11.0         NaN                      NaN            NaN
10  12.0         NaN                      NaN            NaN
2   13.0         6.0                      3.0         137.00
3   14.0      3973.0                    241.0       43279.00
4   15.0      1838.0                    148.0       18872.50
5   16.0     18287.0                   2881.0      185631.40
6   17.0     45940.0                  10063.0      438159.20
7   18.0     54200.0                  12533.0      522385.90
8   19.0     23461.0                   4219.0      233999.00
9   20.0     14325.0                   3369.0      152570.80
10  21.0     10652.0                   1455.0      114032.70
11  22.0      7869.0                   1398.0       81454.50
12  23.0      4385.0                    528.0       55753.70

<h1>Query 4</h1>
<h6>We'd like to know the difference in revenue from customers who have completed one order versus customers who have completed more than one order. Write a query that shows the total revenue (total_price less total_tax) for each of these two groups: New Customers and Returning Customers.

In [267]:
customer_totals = df.groupby('customer_id')['total_less_tax'].agg(['sum', 'count']).reset_index()

In [268]:
customer_totals = customer_totals.sort_values('count')

In [270]:
customer_totals.columns = ['customer_id', 'total_revenue', 'num_orders']

In [281]:
new_customers = customer_totals.loc[customer_totals['num_orders'] == 1]
returning_customers = customer_totals.loc[customer_totals['num_orders'] != 1]

In [282]:
new_customers['total_revenue'].sum()

1634850.9699999997

In [283]:
returning_customers['total_revenue'].sum()

397131.3

<h1>Query 5</h1>
<h6>We'd like a rudimentary estimate of when a customer might place another order and the next order's value, based on the time between their last two orders. For all customers that have completed more than one order, write a query that shows the customer_id, last_order_date and next_projected_order_date, and next_projected_order_value where next_projected_order_date is their last order plus the amount of time between their last two orders and next_projected_order_value is the average of their last two orders' total_price less total_tax.

In [286]:
returning_list = returning_customers.customer_id.to_list()

In [291]:
returning_full_df = df[df['customer_id'].isin(returning_list)]

In [292]:
returning_full_df = returning_full_df.sort_values('customer_id')

In [293]:
returning_full_df

,order_id,customer_id,created_at,updated_at,closed_at,processed_at,status,number,total_price,total_less_tax,total_tax,payment_status,closed_hour
72550,8.561096e+11,0005aaf0,2019-01-05 11:33:46,2019-01-07 17:06:10,2019-01-07 17:06:10,2019-01-05 11:33:46,fulfilled,875781,9.00,9.0,0.00,paid,17.0
17935,8.921384e+11,0005aaf0,2019-03-09 11:28:13,2019-03-11 16:20:44,2019-03-11 16:20:44,2019-03-09 11:28:13.000000,fulfilled,1008794,9.00,9.0,0.00,paid,16.0
12222,8.921383e+11,0005aaf0,2019-03-09 11:27:59,2019-03-11 16:20:46,2019-03-11 16:20:46,2019-03-09 11:27:59.000000,fulfilled,1008792,9.00,9.0,0.00,paid,16.0
72589,8.561098e+11,0005aaf0,2019-01-05 11:33:56,2019-01-07 17:06:09,2019-01-07 17:06:09,2019-01-05 11:33:56,fulfilled,875783,9.00,9.0,0.00,paid,17.0
11247,8.981644e+11,000b5078,2019-03-14 08:13:57,2019-03-14 17:38:56,2019-03-14 17:38:56,2019-03-14 08:13:57.000000,fulfilled,1030834,9.54,9.0,0.54,paid,17.0
137103,8.622300e+11,000b5078,2019-02-14 11:16:30,2019-02-14 18:23:00,2019-02-14 18:23:00,2019-02-14 11:16:30.000000,fulfilled,895204,9.54,9.0,0.54,paid,18.0
24782,8.622481e+11,0011f216,2019-02-14 11:37:04,2019-02-14 18:20:16,2019-01-10 18:20:16,2019-01-10 11:37:04,fulfilled,895417,9.00,9.0,0.00,paid,18.0
16501,8.981538e+11,0011f216,2019-03-14 07:59:21,2019-03-14 17:41:06,2019-03-14 17:41:06,2019-03-14 07:59:21.000000,fulfilled,1030676,9.00,9.0,0.00,paid,17.0
52255,8.561230e+11,0015e03c,2019-01-05 11:54:27,2019-01-07 17:03:49,2019-01-07 17:03:49,2019-01-05 11:54:27,fulfilled,875950,9.70,9.0,0.70,paid,17.0
4411,8.921276e+11,0015e03c,2019-03-09 11:12:58,2019-03-11 16:22:39,2019-03-11 16:22:39,2019-03-09 11:12:58.000000,fulfilled,1008648,9.70,9.0,0.70,paid,16.0
158317,8.829146e+11,0018f811,2019-03-02 09:51:27,2019-03-04 17:39:54,2019-03-04 17:39:54,2019-03-02 09:51:27.000000,fulfilled,973356,9.00,9.0,0.00,paid,17.0
36121,8.475690e+11,0018f811,2018-12-29 09:39:45,2018-12-31 17:23:26,2018-12-31 17:23:26,2018-12-29 09:39:45,fulfilled,844515,9.00,9.0,0.00,paid,17.0
45462,8.484324e+11,001aadc8,2018-12-29 23:45:21,2018-12-31 19:01:31,2018-12-31 19:01:31,2018-12-29 23:45:21,fulfilled,848806,22.47,21.0,1.47,paid,19.0
152960,8.828507e+11,001aadc8,2019-03-02 08:20:49,2019-03-04 17:51:59,2019-03-04 17:51:59,2019-03-02 08:20:49.000000,fulfilled,972455,9.63,9.0,0.63,paid,17.0
64493,8.642620e+11,001dd444,2019-01-11 14:22:49,2019-01-11 20:07:06,2019-01-11 20:07:06,2019-01-11 14:22:49,fulfilled,901663,9.63,9.0,0.63,paid,20.0
11728,8.995838e+11,001dd444,2019-03-15 11:51:48,2019-03-15 11:51:51,NaT,2019-03-15 11:51:48.000000,None,1038089,9.63,9.0,0.63,paid,NaN
21863,8.596493e+11,001de679,2019-02-12 08:44:05,2019-02-12 18:35:23,2019-01-08 18:35:23,2019-01-08 08:44:05,fulfilled,887647,9.54,9.0,0.54,paid,18.0
5797,8.957237e+11,001de679,2019-03-12 08:48:48,2019-03-12 17:36:37,2019-03-12 17:36:37,2019-03-12 08:48:48.000000,fulfilled,1022524,9.54,9.0,0.54,paid,17.0
39940,8.499569e+11,00209b5c,2018-12-31 09:34:48,2018-12-31 18:39:46,2018-12-31 18:39:46,2018-12-31 09:34:48,fulfilled,854832,9.00,9.0,0.00,paid,18.0
102965,8.855612e+11,00209b5c,2019-03-04 09:05:06,2019-03-04 20:03:57,2019-03-04 20:03:57,2019-03-04 09:05:06.000000,fulfilled,983179,9.00,9.0,0.00,paid,20.0
157895,8.814202e+11,0024f5fa,2019-03-01 08:29:56,2019-03-01 18:22:45,2019-03-01 18:22:45,2019-03-01 08:29:56.000000,fulfilled,967659,9.00,9.0,0.00,paid,18.0
31741,8.461625e+11,0024f5fa,2018-12-28 06:40:25,2018-12-28 19:37:50,2018-12-28 19:37:50,2018-12-28 06:40:25,fulfilled,839004,9.00,9.0,0.00,paid,19.0
72413,8.610005e+11,0027d49b,2019-01-09 11:06:09,2019-01-09 18:11:18,2019-01-09 18:11:18,2019-01-09 11:06:09,fulfilled,891408,9.00,9.0,0.00,paid,18.0
120794,8.968573e+11,0027d49b,2019-03-13 08:44:34,2019-03-13 17:37:52,2019-03-13 17:37:52,2019-03-13 08:44:34.000000,fulfilled,1026696,9.00,9.0,0.00,paid,17.0
10486,8.945467e+11,00286940,2019-03-11 09:13:08,2019-03-11 18:31:57,2019-03-11 18:31:57,2019-03-11 09:13:08.000000,fulfilled,1017494,9.80,9.0,0.80,paid,18.0
156802,8.795264e+11,00286940,2019-02-28 01:37:09,2019-02-28 19:53:24,2019-02-28 19:53:24,2019-02-28 01:37:09.000000,fulfilled,953211,9.80,9.0,0.80,paid,19.0
22540,8.576389e+11,0029122b,2019-02-10 18:14:46,2019-02-11 17:33:11,2019-01-07 17:33:11,2019-01-06 18:14:46,fulfilled,882717,9.54,9.0,0.54,paid,17.0
182678,8.933196e+11,0029122b,2019-03-10 10:27:37,2019-03-11 17:09:47,2019-03-11 17:09:47,2019-03-10 10:27:37.000000,fulfilled,1013035,9.54,9.0,0.54,paid,17.0
127967,8.710546e+11,002bca77,2019-02-20 23:37:59,2019-02-21 18:02:27,2019-02-21 18:02:27,2019-02-20 23:37:59.000000,fulfilled,925550,11.00,8.0,0.68,paid,18.0
64816,8.655399e+11,002bca77,2019-01-12 13:21:13,2019-01-14 16:05:08,2019-01-14 16:05:08,2019-01-12 13:21:13,fulfilled,906479,9.80,9.0,0.80,paid,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5378,8.946016e+11,ffd67d9c,2019-03-11 10:23:47,2019-03-11 18:15:56,2019-03-11 18:15:56,2019-03-11 10:23:47.000000,fulfilled,1018254,9.54,9.0,0.54,paid,18.0
177580,8.946028e+11,ffdd49f1,2019-03-11 10:25:33,2019-03-11 18:15:43,2019-03-11 18:15:43,2019-03-11 10:25:33.000000,fulfilled,1018272,9.50,9.0,0.50,paid,18.0
89037,8.583136e+11,ffdd49f1,2019-02-11 08:31:47,2019-02-11 22:19:05,2019-02-11 22:19:05,2019-02-11 08:31:47.000000,fulfilled,883999,9.50,9.0,0.50,paid,22.0
189058,8.828801e+11,ffe1c5e5,2019-03-02 09:03:54,2019-03-04 17:45:53,2019-03-04 17:45:53,2019-03-02 09:03:54.000000,fulfilled,972904,9.00,9.0,0.00,paid,17.0
29704,8.476199e+11,ffe1c5e5,2018-12-29 10:49:21,2018-12-31 17:15:28,2018-12-31 17:15:28,2018-12-29 10:49:21,fulfilled,845065,9.00,9.0,0.00,paid,17.0
199754,8.933192e+11,ffe8ecaf,2019-03-10 10:26:54,2019-03-11 17:09:52,2019-03-11 17:09:52,2019-03-10 10:26:54.000000,fulfilled,1013028,9.00,9.0,0.00,paid,17.0
94690,8.576547e+11,ffe8ecaf,2019-02-10 18:30:31,2019-02-11 16:27:36,2019-02-11 16:27:36,2019-02-10 18:30:31.000000,fulfilled,882746,9.00,9.0,0.00,paid,16.0
52616,8.523324e+11,ffe92df4,2019-01-02 11:16:12,2019-01-02 20:11:04,2019-01-02 20:11:04,2019-01-02 11:16:12,fulfilled,863269,9.77,9.0,0.77,paid,20.0
104435,8.882755e+11,ffe92df4,2019-03-06 10:12:49,2019-03-06 19:03:33,2019-03-06 19:03:33,2019-03-06 10:12:49.000000,fulfilled,995114,9.77,9.0,0.77,paid,19.0
80068,8.767302e+11,ffeb4e7a,2019-02-25 21:31:05,2019-02-26 18:00:45,2019-02-26 18:00:45,2019-02-25 21:31:05.000000,fulfilled,944949,17.77,17.0,0.77,paid,18.0
35552,8.475507e+11,ffeb4e7a,2018-12-29 09:10:09,2018-12-31 17:26:02,2018-12-31 17:26:02,2018-12-29 09:10:09,fulfilled,844275,9.41,9.0,0.41,paid,17.0
186696,8.945791e+11,ffed22ad,2019-03-11 09:52:44,2019-03-11 18:26:26,2019-03-11 18:26:26,2019-03-11 09:52:44.000000,fulfilled,1017921,9.00,9.0,0.00,paid,18.0
81760,8.583404e+11,ffed22ad,2019-02-11 09:12:06,2019-02-11 22:13:42,2019-02-11 22:13:42,2019-02-11 09:12:06.000000,fulfilled,884431,9.00,9.0,0.00,paid,22.0
161041,8.855456e+11,ffef3f52,2019-03-04 08:42:18,2019-03-04 20:06:48,2019-03-04 20:06:48,2019-03-04 08:42:18.000000,fulfilled,982935,9.00,9.0,0.00,paid,20.0
178760,8.933838e+11,ffef3f52,2019-03-10 11:49:23,2019-03-11 16:59:23,2019-03-11 16:59:23,2019-03-10 11:49:23.000000,fulfilled,1013743,9.00,9.0,0.00,paid,16.0
49694,8.572174e+11,ffef3f52,2019-01-06 09:32:57,2019-01-07 17:27:57,2019-01-07 17:27:57,2019-01-06 09:32:57,fulfilled,879554,17.00,17.0,0.00,paid,17.0
32838,8.477407e+11,fff0c629,2018-12-29 13:10:57,2018-12-31 16:11:49,2018-12-31 16:11:49,2018-12-29 13:10:57,fulfilled,846572,9.00,9.0,0.00,paid,16.0
164946,8.828626e+11,fff0c629,2019-03-02 08:38:40,2019-03-04 17:49:23,2019-03-04 17:49:23,2019-03-02 08:38:40.000000,fulfilled,972646,9.00,9.0,0.00,paid,17.0
47889,8.510815e+11,fff26790,2019-01-01 09:19:37,2019-01-01 18:37:04,2019-01-01 18:37:04,2019-01-01 09:19:37,fulfilled,858622,9.00,9.0,0.00,paid,18.0
199866,8.868779e+11,fff26790,2019-03-05 10:23:12,2019-03-05 18:13:47,2019-03-05 18:13:47,2019-03-05 10:23:12.000000,fulfilled,988569,9.63,9.0,0.63,paid,18.0
118337,8.622372e+11,fff46131,2019-02-14 11:25:08,2019-02-14 18:21:50,2019-02-14 18:21:50,2019-02-14 11:25:08.000000,fulfilled,895296,9.00,9.0,0.00,paid,18.0
187923,8.981599e+11,fff46131,2019-03-14 08:07:53,2019-03-14 17:39:51,2019-03-14 17:39:51,2019-03-14 08:07:53.000000,fulfilled,1030767,9.00,9.0,0.00,paid,17.0
97041,8.633225e+11,fff79209,2019-02-14 21:25:22,2019-02-15 01:01:16,2019-02-15 01:01:16,2019-02-14 21:25:22.000000,fulfilled,898083,9.88,9.0,0.88,paid,1.0
17037,8.882205e+11,fff79209,2019-03-06 08:58:42,2019-03-06 20:04:49,2019-03-06 20:04:49,2019-03-06 08:58:42.000000,fulfilled,994375,9.88,9.0,0.88,paid,20.0
6210,8.934197e+11,fff96e1d,2019-03-10 12:34:53,2019-03-11 16:53:46,2019-03-11 16:53:46,2019-03-10 12:34:53.000000,fulfilled,1014141,9.56,9.0,0.56,paid,16.0
115900,8.954502e+11,fff96e1d,2019-03-12 01:15:38,2019-03-12 17:48:45,2019-03-12 17:48:45,2019-03-12 01:15:38.000000,fulfilled,1021476,8.50,8.0,0.50,paid,17.0
63154,8.596659e+11,fff98b57,2019-01-08 09:05:53,2019-01-08 18:32:16,2019-01-08 18:32:16,2019-01-08 09:05:53,fulfilled,887876,9.46,9.0,0.46,paid,18.0
187082,8.957091e+11,fff98b57,2019-03-12 08:30:06,2019-03-12 17:39:06,2019-03-12 17:39:06,2019-03-12 08:30:06.000000,fulfilled,1022344,9.46,9.0,0.46,paid,17.0
122066,8.642379e+11,fffecaa2,2019-02-15 14:01:50,2019-02-15 20:09:26,2019-02-15 20:09:25,2019-02-15 14:01:50.000000,fulfilled,901462,9.54,9.0,0.54,paid,20.0
117378,8.995136e+11,fffecaa2,2019-03-15 10:42:07,2019-03-15 10:42:14,NaT,2019-03-15 10:42:07.000000,None,1037295,9.54,9.0,0.54,paid,NaN

In [296]:
returning_full_df.groupby('customer_id').closed_at.apply(lambda x: (x-x.min()).astype('m8[h]').mean()).reset_index()

      customer_id   closed_at
0        0005aaf0  755.500000
1        000b5078  335.500000
2        0011f216  755.500000
3        0015e03c  755.500000
4        0018f811  756.000000
5        001aadc8  755.000000
6        001dd444    0.000000
7        001de679  755.500000
8        00209b5c  756.500000
9        0024f5fa  755.000000
10       0027d49b  755.500000
11       00286940  131.000000
12       0029122b  755.500000
13       002bca77  456.500000
14       002bfc9c    1.500000
15       0030997e  755.000000
16       00321674  755.500000
17       00360d38  755.500000
18       00395b43  755.000000
19       00398e0e   10.500000
20       0039c123  756.000000
21       003e0b4e  755.500000
22       003f8367  756.000000
23       0051bc52  756.500000
24       00532427  755.000000
25       00568dbd    0.000000
26       005a6761  753.500000
27       005b8e93  467.500000
28       005edbbd  721.000000
29       00610611  335.000000
...           ...         ...
19309    ffa28ad4   34.500000
19310    ffad75c1  335.500000
19311    ffadaa4e    0.000000
19312    ffb4dcd2  335.500000
19313    ffb60407  752.500000
19314    ffba15c7  755.500000
19315    ffba8ef4  756.000000
19316    ffbe2a63    0.000000
19317    ffbe4623  755.500000
19318    ffbecc7d  335.500000
19319    ffbeee5d  755.500000
19320    ffc17fdf  335.500000
19321    ffca02d7  753.500000
19322    ffcf3677  756.000000
19323    ffcf758b  755.500000
19324    ffd67d9c  333.500000
19325    ffdd49f1  333.500000
19326    ffe1c5e5  756.000000
19327    ffe8ecaf  336.000000
19328    ffe92df4  755.000000
19329    ffeb4e7a  684.000000
19330    ffed22ad  334.000000
19331    ffef3f52  952.333333
19332    fff0c629  756.500000
19333    fff26790  755.500000
19334    fff46131  335.500000
19335    fff79209  237.500000
19336    fff96e1d   12.000000
19337    fff98b57  755.500000
19338    fffecaa2    0.000000

[19339 rows x 2 columns]