<h1>Import necessary libraries

In [284]:
import pandas as pd
import psycopg2 as pg
import pandas.io.sql as psql

<h1>Connect to DB

In [14]:
conn = pg.connect(" dbname='dev' host='njoy-testing-env.c2ag7j9q24ns.us-east-1.rds.amazonaws.com' user='reader' port='5416' password='MbmeL8ku6x'")
df = psql.read_sql('SELECT count(1) from public.orders', conn)
df.head()

    count
0  201570

In [15]:
df = psql.read_sql('SELECT * from public.orders', conn)

<h1>Preview of DataFrame

In [44]:
df.head(5)

,order_id,customer_id,created_at,updated_at,closed_at,processed_at,status,number,total_price,total_less_tax,total_tax,payment_status,closed_hour
0,8.974965e+11,230824c2,2019-03-13 18:14:55,2019-03-13 22:01:40,2019-03-13 22:01:39,2019-03-13 18:14:55.000000,fulfilled,1029702,18.28,17.0,1.28,paid,22.0
1,8.975937e+11,7100545b,2019-03-13 19:33:50,2019-03-13 23:01:21,2019-03-13 23:01:21,2019-03-13 19:33:50.000000,fulfilled,1029768,9.00,9.0,0.00,paid,23.0
2,8.975785e+11,3de1dc29,2019-03-13 19:20:05,2019-03-13 23:01:33,2019-03-13 23:01:33,2019-03-13 19:20:05.000000,fulfilled,1029757,18.02,17.0,1.02,paid,23.0
3,8.976117e+11,cb5e4189,2019-03-13 19:50:09,2019-03-13 23:01:12,2019-03-13 23:01:11,2019-03-13 19:50:09.000000,fulfilled,1029780,9.63,9.0,0.63,paid,23.0
4,8.976406e+11,579c3141,2019-03-13 20:17:01,2019-03-14 00:01:23,2019-03-14 00:01:23,2019-03-13 20:17:01.000000,fulfilled,1029803,9.26,9.0,0.26,paid,0.0

In [73]:
df.shape

(201570, 13)

<h1>Query 1</h1>
<h6>We need basic insight into hourly sales performance. We'd like a query that shows the following metrics by hour: <br>
revenue (total_price less total_tax)<br>
total number of orders<br>
number of orders placed by a customer who has previously placed an order<br>

In [156]:
#create column to seperate closing hour of orders
df['closed_hour'] = df['closed_at'].dt.hour

In [201]:
hourly_orders = df.groupby('closed_hour')['total_less_tax'].agg(['sum','count']).reset_index()

In [86]:
customer_counts = df.groupby('customer_id').count().reset_index().sort_values('order_id', ascending = False)

In [93]:
#there are 181,105 total customers in the dataframe
customer_counts.shape

(181105, 13)

In [165]:
#there are 19,339 returning customers
returning_customers = customer_counts.loc[customer_counts['order_id'] > 1][['customer_id', 'order_id']]

In [161]:
def find_hours_of_returning_customers():
    returning_customer_hours = {}
    for customer in returning_customers.customer_id.to_list():
        order_hours = df.loc[df['customer_id'] == customer].closed_hour.to_list()
        for i in order_hours:
            try:
                if int(i) not in returning_customer_hours.keys():
                    returning_customer_hours.update({i: 1})
                else:
                    returning_customer_hours[i] +=1
            except:
                pass
    return returning_customer_hours

In [181]:
total_returning_per_hour = find_hours_of_returning_customers()

In [191]:
returning_df = pd.DataFrame(total_returning_per_hour, index = ['number']).transpose().reset_index()
returning_df_sorted = returning_df.sort_values('index')

In [210]:
final_orders = pd.merge(hourly_orders, returning_df_sorted, left_on='closed_hour', right_on='index')
final_orders = final_orders.drop(['index'], axis = 1)
final_orders.columns = ['hour', 'total_revenue', 'num_orders', 'num_returning_customers']

In [211]:
final_orders

    hour  total_revenue  num_orders  num_returning_customers
0    0.0       54508.00        4481                      585
1    1.0       62859.27        5495                      706
2   13.0         137.00           6                        3
3   14.0       43279.00        3973                      241
4   15.0       18872.50        1838                      148
5   16.0      185631.40       18287                     2881
6   17.0      438159.20       45940                    10063
7   18.0      522385.90       54200                    12533
8   19.0      233999.00       23461                     4219
9   20.0      152570.80       14325                     3369
10  21.0      114032.70       10652                     1455
11  22.0       81454.50        7869                     1398
12  23.0       55753.70        4385                      528

<h1>Query 2</h1>
<h6>Upon further inspection, it has been noticed that there are a number of hours for which there are no orders. It's not clear why, so we'd like a query that lists all hours for which there are no orders.

In [219]:
hours_with_orders = df.groupby(df.closed_hour).count().reset_index()['closed_hour'].to_list()

In [220]:
all_hours = list(range(0,24))

In [223]:
hours_without_orders = []
for hour in all_hours:
    if hour not in hours_with_orders:
        hours_without_orders.append(hour)

In [242]:
no_orders = pd.DataFrame(hours_without_orders)

In [245]:
no_orders.columns = ['hour']

In [257]:
no_orders

    hour
0      2
1      3
2      4
3      5
4      6
5      7
6      8
7      9
8     10
9     11
10    12

<h1>Query 3</h1>
<h6>Your query from #1 may not have accounted for hours for which there are no orders. Copy your query from #1 and ammend the query to show "0" for all metrics when there is no data for a given hour.

In [253]:
all_hourly_orders = pd.concat([final_orders, no_orders], join = 'outer')

/Users/austinkrause/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [255]:
all_hourly_orders = all_hourly_orders.sort_values('hour')

In [256]:
all_hourly_orders

    hour  num_orders  num_returning_customers  total_revenue
0    0.0      4481.0                    585.0       54508.00
1    1.0      5495.0                    706.0       62859.27
0    2.0         NaN                      NaN            NaN
1    3.0         NaN                      NaN            NaN
2    4.0         NaN                      NaN            NaN
3    5.0         NaN                      NaN            NaN
4    6.0         NaN                      NaN            NaN
5    7.0         NaN                      NaN            NaN
6    8.0         NaN                      NaN            NaN
7    9.0         NaN                      NaN            NaN
8   10.0         NaN                      NaN            NaN
9   11.0         NaN                      NaN            NaN
10  12.0         NaN                      NaN            NaN
2   13.0         6.0                      3.0         137.00
3   14.0      3973.0                    241.0       43279.00
4   15.0      1838.0                    148.0       18872.50
5   16.0     18287.0                   2881.0      185631.40
6   17.0     45940.0                  10063.0      438159.20
7   18.0     54200.0                  12533.0      522385.90
8   19.0     23461.0                   4219.0      233999.00
9   20.0     14325.0                   3369.0      152570.80
10  21.0     10652.0                   1455.0      114032.70
11  22.0      7869.0                   1398.0       81454.50
12  23.0      4385.0                    528.0       55753.70

<h1>Query 4</h1>
<h6>We'd like to know the difference in revenue from customers who have completed one order versus customers who have completed more than one order. Write a query that shows the total revenue (total_price less total_tax) for each of these two groups: New Customers and Returning Customers.

In [267]:
customer_totals = df.groupby('customer_id')['total_less_tax'].agg(['sum', 'count']).reset_index()

In [268]:
customer_totals = customer_totals.sort_values('count')

In [270]:
customer_totals.columns = ['customer_id', 'total_revenue', 'num_orders']

In [281]:
new_customers = customer_totals.loc[customer_totals['num_orders'] == 1]
returning_customers = customer_totals.loc[customer_totals['num_orders'] != 1]

In [282]:
new_customers['total_revenue'].sum()

1634850.9699999997

In [283]:
returning_customers['total_revenue'].sum()

397131.3

<h1>Query 5</h1>
<h6>We'd like a rudimentary estimate of when a customer might place another order and the next order's value, based on the time between their last two orders. For all customers that have completed more than one order, write a query that shows the customer_id, last_order_date and next_projected_order_date, and next_projected_order_value where next_projected_order_date is their last order plus the amount of time between their last two orders and next_projected_order_value is the average of their last two orders' total_price less total_tax.

In [286]:
returning_list = returning_customers.customer_id.to_list()

In [291]:
returning_full_df = df[df['customer_id'].isin(returning_list)]

In [390]:
returning_full_df = returning_full_df.sort_values(['customer_id', 'closed_at'])

In [409]:
returning_full_df.head()

,order_id,customer_id,created_at,updated_at,closed_at,processed_at,status,number,total_price,total_less_tax,total_tax,payment_status,closed_hour
72589,8.561098e+11,0005aaf0,2019-01-05 11:33:56,2019-01-07 17:06:09,2019-01-07 17:06:09,2019-01-05 11:33:56,fulfilled,875783,9.00,9.0,0.00,paid,17.0
72550,8.561096e+11,0005aaf0,2019-01-05 11:33:46,2019-01-07 17:06:10,2019-01-07 17:06:10,2019-01-05 11:33:46,fulfilled,875781,9.00,9.0,0.00,paid,17.0
17935,8.921384e+11,0005aaf0,2019-03-09 11:28:13,2019-03-11 16:20:44,2019-03-11 16:20:44,2019-03-09 11:28:13.000000,fulfilled,1008794,9.00,9.0,0.00,paid,16.0
12222,8.921383e+11,0005aaf0,2019-03-09 11:27:59,2019-03-11 16:20:46,2019-03-11 16:20:46,2019-03-09 11:27:59.000000,fulfilled,1008792,9.00,9.0,0.00,paid,16.0
137103,8.622300e+11,000b5078,2019-02-14 11:16:30,2019-02-14 18:23:00,2019-02-14 18:23:00,2019-02-14 11:16:30.000000,fulfilled,895204,9.54,9.0,0.54,paid,18.0

In [398]:
def project_next_purchase(list_of_customers):
    projected_purchases = []
    customer_index = 0
    
    for i in list_of_customers:
        
        customer_df = returning_full_df.loc[returning_full_df['customer_id'] == i]

        next_purchase_info = {}
        next_purchase_info['customer_id'] = i
        next_purchase_info['last_order_date'] = customer_df['closed_at'].iloc[-1]
        next_purchase_info['next_projected_order_date'] = customer_df['closed_at'].iloc[-1] + (customer_df['closed_at'].iloc[-1] - customer_df['closed_at'].iloc[-2])
        next_purchase_info['next_projected_order_value'] = (customer_df['total_less_tax'].iloc[-2] + customer_df['total_less_tax'].iloc[-1])/2
        projected_purchases.append(next_purchase_info)
        
        customer_index += 1
        
    return projected_purchases

In [405]:
projected_purchases = project_next_purchase(returning_list)

In [407]:
projected_purchases_df = pd.DataFrame.from_dict(projected_purchases)

In [410]:
projected_purchases_df.head(10)

,customer_id,last_order_date,next_projected_order_date,next_projected_order_value
0,7147f69d,2019-03-04 20:05:04,2019-05-06 21:31:46,9.0
1,00286940,2019-03-11 18:31:57,2019-03-22 17:10:30,9.0
2,87885c02,2019-03-04 18:26:55,2019-05-06 18:47:29,9.0
3,f5653a6d,NaT,NaT,9.0
4,78e87a63,2019-01-01 00:02:46,2019-01-01 03:51:38,8.5
5,72436c76,2019-03-06 20:02:13,2019-05-08 19:39:53,9.0
6,0745389a,2019-03-06 19:03:00,2019-05-08 17:54:15,9.0
7,ffcf3677,2019-03-04 18:49:44,2019-05-06 19:47:10,9.0
8,8786ddf4,2019-03-14 17:22:53,2019-04-12 16:26:27,9.0
9,878940f1,2019-03-11 17:08:42,2019-04-08 16:50:32,13.5

<h1>Query 6</h1>
<h6>You might find that some customers have orders that are only seconds apart from each other. This seems like bad data. Copy the query from #5 and ammend to filter out any customers whose orders are less than a minute from each other.

In [414]:
projected_purchases_df['time_between_orders'] = projected_purchases_df['next_projected_order_date'] - projected_purchases_df['last_order_date']

In [426]:
projected_purchases_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19339 entries, 0 to 19338
Data columns (total 5 columns):
customer_id                   19339 non-null object
last_order_date               17721 non-null datetime64[ns]
next_projected_order_date     17721 non-null datetime64[ns]
next_projected_order_value    19339 non-null float64
time_between_orders           17721 non-null timedelta64[ns]
dtypes: datetime64[ns](2), float64(1), object(1), timedelta64[ns](1)
memory usage: 755.5+ KB

In [429]:
projected_purchases_final = projected_purchases_df[projected_purchases_df['time_between_orders'].dt.total_seconds() > 60]

In [431]:
projected_purchases_final.sort_values('time_between_orders')

,customer_id,last_order_date,next_projected_order_date,next_projected_order_value,time_between_orders
14843,8e26e426,2019-03-04 20:10:53,2019-03-04 20:11:59,9.0,0 days 00:01:06
6564,4f51ef15,2019-03-08 17:06:05,2019-03-08 17:07:16,9.0,0 days 00:01:11
14945,1772e835,2018-12-31 16:31:04,2018-12-31 16:32:20,8.5,0 days 00:01:16
8237,554f34be,2019-03-11 16:06:44,2019-03-11 16:08:01,9.0,0 days 00:01:17
18646,30a712a2,2019-03-14 18:03:34,2019-03-14 18:04:52,12.5,0 days 00:01:18
12189,63994e3b,2019-01-14 17:03:40,2019-01-14 17:05:00,8.5,0 days 00:01:20
12213,e1aae39d,2019-02-25 16:23:55,2019-02-25 16:25:16,17.0,0 days 00:01:21
8110,cd23d4dc,2019-03-05 19:04:31,2019-03-05 19:05:59,8.0,0 days 00:01:28
14687,8d2939cb,2019-02-28 20:06:57,2019-02-28 20:08:27,9.0,0 days 00:01:30
8382,54e03148,2019-02-15 17:18:18,2019-02-15 17:19:52,9.0,0 days 00:01:34
61,0142a323,2019-03-04 20:11:21,2019-03-04 20:12:57,9.0,0 days 00:01:36
19087,272afcb7,2019-02-26 18:30:34,2019-02-26 18:32:19,9.0,0 days 00:01:45
13260,e11a8160,2019-03-11 17:35:32,2019-03-11 17:37:18,9.0,0 days 00:01:46
5298,32da3889,2019-02-25 17:09:34,2019-02-25 17:11:21,9.0,0 days 00:01:47
16765,d43c6147,2018-12-31 16:47:11,2018-12-31 16:49:00,18.0,0 days 00:01:49
19333,34c083e0,2019-02-25 21:15:05,2019-02-25 21:16:55,45.0,0 days 00:01:50
5032,512d45c4,2019-02-19 22:06:39,2019-02-19 22:08:32,9.0,0 days 00:01:53
17818,94989f20,2019-03-04 17:16:51,2019-03-04 17:18:46,9.0,0 days 00:01:55
17071,d3e8a53a,2019-02-28 20:20:55,2019-02-28 20:22:52,9.0,0 days 00:01:57
19257,bc8faf38,2019-03-01 18:36:11,2019-03-01 18:38:09,13.0,0 days 00:01:58
16494,9d4e0f62,2019-02-21 23:17:59,2019-02-21 23:19:57,8.5,0 days 00:01:58
8162,557369d8,2019-02-28 19:49:39,2019-02-28 19:51:38,9.0,0 days 00:01:59
17384,daa677c0,2019-03-11 15:08:23,2019-03-11 15:10:22,18.0,0 days 00:01:59
2604,83ebba7f,2019-03-07 19:19:13,2019-03-07 19:21:17,9.0,0 days 00:02:04
2618,6ec54792,2019-03-12 17:20:00,2019-03-12 17:22:12,9.0,0 days 00:02:12
6931,56818f92,2019-03-14 20:03:58,2019-03-14 20:06:17,9.0,0 days 00:02:19
19108,c1586e51,2019-03-11 18:15:48,2019-03-11 18:18:14,9.0,0 days 00:02:26
14136,6a2aaf15,2019-02-28 20:30:18,2019-02-28 20:32:58,18.0,0 days 00:02:40
3715,f5289ef2,2019-02-28 20:23:32,2019-02-28 20:26:25,8.5,0 days 00:02:53
11069,37702e61,2019-03-13 19:05:18,2019-03-13 19:08:13,9.0,0 days 00:02:55
...,...,...,...,...,...
9278,3dee6604,2019-03-11 16:02:02,2019-05-23 12:38:05,9.0,72 days 20:36:03
1964,0dd1e7e0,2019-03-11 16:02:04,2019-05-23 12:38:21,9.0,72 days 20:36:17
6274,4e1e8df7,2019-03-11 16:50:04,2019-05-23 14:02:28,9.0,72 days 21:12:24
10354,3818343e,2019-03-11 18:32:50,2019-05-23 16:03:37,17.0,72 days 21:30:47
6290,c3a99d84,2019-03-11 17:42:02,2019-05-23 15:15:57,9.0,72 days 21:33:55
10551,ab9cd277,2019-03-11 17:11:38,2019-05-23 14:59:51,9.0,72 days 21:48:13
16836,d4a28694,2019-03-11 16:16:39,2019-05-23 14:28:26,9.0,72 days 22:11:47
5100,c79f1e7d,2019-03-11 17:52:53,2019-05-23 16:14:00,13.0,72 days 22:21:07
10812,c2c2ac32,2019-03-11 18:40:10,2019-05-23 17:16:31,9.0,72 days 22:36:21
5310,506696d0,2019-03-14 17:14:28,2019-05-26 16:35:10,8.5,72 days 23:20:42
10854,a943cf18,2019-03-14 18:02:30,2019-05-26 17:47:28,15.0,72 days 23:44:58
15633,d565f523,2019-03-14 17:21:14,2019-05-26 17:13:12,9.0,72 days 23:51:58
16414,9c80ad41,2019-03-14 17:09:29,2019-05-26 17:14:18,9.0,73 days 00:04:49
15965,9806e4c7,2019-03-14 17:05:06,2019-05-26 17:26:32,8.5,73 days 00:21:26
5991,35467719,2019-03-14 18:04:54,2019-05-26 18:27:11,9.0,73 days 00:22:17
10887,c1b8b773,2019-03-11 18:32:16,2019-05-23 19:00:48,9.0,73 days 00:28:32
12483,e4dbd0f7,2019-03-14 20:02:37,2019-05-26 20:56:30,8.5,73 days 00:53:53
8840,466c6a6b,2019-03-14 17:33:42,2019-05-26 18:50:16,13.5,73 days 01:16:34
6672,4faa3778,2019-03-11 21:01:03,2019-05-23 22:22:37,17.0,73 days 01:21:34
11594,bea370de,2019-03-11 22:03:02,2019-05-23 23:58:59,9.0,73 days 01:55:57
1072,117bb622,2019-03-11 22:05:13,2019-05-24 00:48:07,12.5,73 days 02:42:54
662,ff341d1e,2019-03-14 20:02:20,2019-05-26 23:30:01,13.5,73 days 03:27:41
1756,f2f2e66c,2019-03-12 17:47:29,2019-05-25 12:33:49,13.0,73 days 18:46:20
5330,c6e2c6fc,2019-03-12 17:47:17,2019-05-25 15:55:28,9.0,73 days 22:08:11
13445,1b57bc9f,2019-03-12 17:47:39,2019-05-25 17:31:35,9.0,73 days 23:43:56
17284,95454db2,2019-03-13 00:01:30,2019-05-26 04:34:34,9.0,74 days 04:33:04
3350,f4b73ce6,2019-03-13 19:04:34,2019-05-27 18:42:41,9.0,74 days 23:38:07
8299,a166082f,2019-03-14 17:19:45,2019-05-29 09:37:09,8.5,75 days 16:17:24
13539,1c99b045,2019-03-14 18:01:45,2019-05-29 12:02:18,8.5,75 days 18:00:33
15191,66fe6349,2019-03-14 21:01:20,2019-05-29 22:32:12,13.0,76 days 01:30:52